/*.gen-sourcefile-header {
  /*background-color:#b0c4de;
  border:1px solid;
  margin-top:2px;
  margin-bottom:2px;
 }

.gen-sourcefile-header pre{
  background-color: #d3d3d3;
  margin:0px;
}*/
.bar-selected {
  fill:"#F4A460";
}

.hovered-code {
background-color: peachpuff; /*#FEE9CC;*/
color: rgba(0, 0, 0, 0.75);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
  /*border-top: 1px solid #666;
  border-bottom: 1px solid #666;*/
}

.brush .extent {
stroke: gray;
fill: dodgerblue;
fill-opacity: .365;
}

.chart {
shape-rendering: crispEdges;
}
