DEVDIR=~/workspaces/scala
DELITE=$DEVDIR/delite
LMS=$DEVDIR/virtualization-lms-core 
CLASSPATH=$DELITE/dsls/profiling/target/scala_2.9.x-virtualized-SNAPSHOT/classes
alias delitec='$DELITE/scripts/delitec'
alias delite='$DELITE/scripts/delite'
alias scalav='$DEVDIR/scala-virtualized/dists/latest/bin/scala'
